.section-title {
	font-size: 24px;
	color: white; /* Blue color */
	text-align: center;
	margin: 20px 0;
  }
  
  .quote-list {
	list-style-type: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .quote-item {
	background-color: #f0f0f0; /* Light gray background */
	border-radius: 15px;
	padding: 10px;
	margin: 5px 0;
	width: 600px;
  }
  
  .quote-text {
	font-size: 18px;
	color: #333; /* Black text color */
	margin-top: 10px;
	margin-bottom: 20px;
  }
  
  .quote-date {
	font-size: 14px;
	color: #777; /* Gray text color */
	text-align: right;
  }

.horizontal-nav {
	display: flex;
	justify-content: center;
}
  
.horizontal-nav ul {
	list-style: none;
	padding: 0;
	display: flex;
}
  
.horizontal-nav li {
	margin-right: 20px;
	cursor: pointer;
}

.horizontal-nav li.active {
	font-weight: bold;
}

.section-message  {
	background: #007bff;
	text-align: justify;
	width: 800px;
	font-size: 17px;
	line-height: 1.5;
	color: white;
	padding: 20px;
	border-radius: 10px;
  }
  