/* App.css */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  /* background-color: lightblue; */
  background-image: url('./Photos/background-image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-size: 2rem;
  color: white; /* Blue color */
}

.Question {
  width: 600px;
  background-color: #f0f0f0; /* Light gray background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  background-color: #007bff; /* Blue color */
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s;
}

li:hover {
  background-color: #71a3d9; /* Darker blue color on hover */
}

.opening-message {
  text-align: justify;
  width: 800px;
  font-size: 17px;
  line-height: 1.5;
  color: white;
}

.site-title {
  padding-top: 30px;
}