/* App.css */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: lightblue;
}

h1 {
  font-size: 2rem;
  color: #007bff; /* Blue color */
}

.Question {
  width: 600px;
  background-color: #f0f0f0; /* Light gray background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  background-color: #007bff; /* Blue color */
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s;
}

li:hover {
  background-color: #0056b3; /* Darker blue color on hover */
}

.Finish {
  /* Add styles for your finish paragraph here */
}

.opening-message {
  text-align: justify;
  width: 800px;
  font-size: 17px;
  line-height: 1.5;
}